<!DOCTYPE html>
<html>

<head>
    <title>Stylesheet3</title>
    <link rel="Stylesheet" href="../css/03_style.css">
</head>

<body>
    <div class="allbody">
        <div class="head">
            <H1>Welcome to My <a href="../index.html">Homepage</a></H1>
            <p>Use the menu to select different Stylesheets</p>
        </div>
        <div class="bodypart">
            <div class="sheetlist">
                <ul>
                    <li><a href="./Stylesheet1.html">Stylesheet 1</a></li>
                    <li><a href="./Stylesheet2.html">Stylesheet 2</a></li>
                    <li><a href="./Stylesheet3.html">Stylesheet 3</a></li>
                    <li><a href="./Stylesheet4.html">Stylesheet 4</a></li>
                    <li><a href="./NoStylesheet.html">No Stylesheet</a></li>
                </ul>
            </div>
            <div class="midcont">
                <H1>Same Page Different Stylesheets</H1>
                <p>This is a demonstration of how different stylesheets can change the layout of your HTML page. You can change the layout of this page by selecting different stylesheets in the menu, or by selecting one of the following links:<br>

                    <a href="./Stylesheet1.html">Stylesheet 1</a>,
                    <a href="./Stylesheet2.html">Stylesheet 2</a>,
                    <a href="./Stylesheet3.html">Stylesheet 3</a>,
                    <a href="./Stylesheet4.html">Stylesheet 4</a>,
                    <a href="./NoStylesheet.html">No Stylesheet</a>.
                </p>
            </div>




            <div class="tblcont">
                <h2>Table</h2>
                <table id="customers" border=1 class="table">
                    <tbody>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr class="alt">
                            <td>Berglunds snabbköp</td>
                            <td>Christina Berglund</td>
                            <td>Sweden</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                        <tr class="alt">
                            <td>Ernst Handel</td>
                            <td>Roland Mendel</td>
                            <td>Austria</td>
                        </tr>
                        <tr>
                            <td>Island Trading</td>
                            <td>Helen Bennett</td>
                            <td>UK</td>
                        </tr>
                        <tr class="alt">
                            <td>Königlich Essen</td>
                            <td>Philip Cramer</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Laughing Bacchus Winecellars</td>
                            <td>Yoshi Tannamuri</td>
                            <td>Canada</td>
                        </tr>
                        <tr class="alt">
                            <td>Magazzini Alimentari Riuniti</td>
                            <td>Giovanni Rovelli</td>
                            <td>Italy</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottombody">
            <div class="bottomcont">
                <H3>Side-Bar</H3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="footer">
                <p>I think that anyone who comes upon a Nautilus machine suddenly will agree with me that its prototype was clearly invented at some time in history when torture was considered a reasonable alternative to diplomacy.
                        What is written without effort is in general read without pleasure.
                        Never be entirely idle; but either be reading, or writing, or praying or meditating or endeavoring something for the public good.
                        Exercise alone provides psychological and physical benefits. However, if you also adopt a strategy that engages your mind while you exercise, you can get a whole host of psychological benefits fairly quickly.</p>
        
        </div>
    </div>
</body>

</html>